body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: rgb(255, 89, 0);
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 0.8rem;
    margin: 0.3rem;
    padding: 0.2rem;

    &:hover {
        background-color: rgb(2, 52, 109);
    }

}